name: Main Workflow.

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  copy-files:
    #runs-on: self-hosted
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: checking the copy files
        uses: ./.github/actions/copyfile-action_v2
        #uses: ./.github/actions/copyfile-actions_v1
        with:
          #SourceFolder: src/main
          #SourceFolder: ${{ github.workspace }}
          # contents: '**'
          #SourceFolder: '${{ github.workspace }}'
          #contents: '**\src\main\**'
          #contents: '*src/main/*'
          #contents: 'src/main/**'
          #contents: '**\src\main\*.java'
          #contents: 'sample.txt'
          #contents: 'main\flat'
          #contents: '*'
          #contents: 'ArtifactsImageCenter_FileManifest.xml'
          #contents: 'flat\*.txt,java\App.java'
          #contents: 'flat\Globa?.asax'
          #contents: 'flat\Global.asax'

          ###############################################

          # SourceFolder: '${{ github.workspace }}'
          # #contents: '**\src\main\**\*.asax'
          # #SourceFolder: src/main
          # #contents: '**\config\**\standalone.conf'
          # #contents: '**/config/**/standalone.conf'
          # #contents: '**\standalone.xml, **\standalone.conf'
          # #contents: 'src/main/flat/**/standalone1.xml,standalone/config/standalone.conf'
          # contents: '**\src\main\flat\**\standalone1.xml'
          # TargetFolder: "targetFolder"
          # CleanTargetFolder: false
          # overwrite: false
          # FlattenFolders: true
          # preserveTimestamp: false
          # retryCount: '3'
          # delayBetweenRetries: '5000'
          # ignoreMakeDirErrors: false

          #################################################

          # SourceFolder: ''
          # contents: '**\A1\**\ABC.yml'
          # SourceFolder: ''
          # contents: '**\A1\**'
          # SourceFolder: ''
          # contents: '**'
          # SourceFolder: ''
          # contents: '*'
          # SourceFolder: ''
          # contents: '**\src\main\**\*.asax'
          # SourceFolder: ''
          # contents: 'src/main/flat/**/standalone1.xml,standalone/config/standalone.conf'
          # SourceFolder: 'src/main/flat'
          # contents: 'Global.asax'
          # SourceFolder: 'src/main/flat'
          # contents: '*.asax'
          SourceFolder: ${{ github.workspace }}
          contents: 'ArtifactsImageCenter_FileManifest.xml'
          TargetFolder: "targetFolder"
          CleanTargetFolder: false
          overwrite: false
          FlattenFolders: true
          preserveTimestamp: false
          retryCount: '3'
          delayBetweenRetries: '5000'
          ignoreMakeDirErrors: false

          ############################################
      
      # - name: checking the copy files
      #   uses: ./.github/actions/copyfile-actions_v1
      #   with:
      #     SourceFolder: ./
      #     contents: 'ArtifactsImageCenter_FileManifest.xml'
      #     TargetFolder: "artifacts"
      #     CleanTargetFolder: true
      #     overwrite: false
      #     FlattenFolders: false
      #     preserveTimestamp: false
      #     retryCount: '3'
      #     delayBetweenRetries: '5000'
      #     ignoreMakeDirErrors: false


